<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/g.css"> -->
	<script type="text/javascript" src="lib/angular-1.3.10/angular.js"></script>
</head>
<body>
	<div class="header">
		<p class="logo"><a href='/'>angular example</a></p>
	</div>
	<div class="Bdy" ng-app="myApp" ng-controller="myCtrl">
		<form class="form">
			<div class="formItem">
				<input type="text" class="txt" ng-model="username" placeholder="用户名">
			</div>
			<div class="formItem">
				<input type="password" class="txt" ng-model="password" placeholder="密码">
			</div>
			<a class='ng-bind:href;'><i ng-bind="href"></i>aaaa</a>
			<div class="formItem">
				<input type="submit" class="btn" value="注册">
			</div>
		</form>
		<div class="pre">
			<p class="preItem">您输入的用户名：<b ng-bind="username"></b></p>
			<p class="preItem">您输入的密码：<b ng-bind="password"></b></p>
			<p class="preItem">您输入的密码：<b ng-bind="test"></b></p>
		</div>
		<div ui-view></div>
		<ui-view>
		<a href="####">78787</a></ui-view>
	    <button-bar>
	        <button class="primary" ng-click="onPrimary1Click()">{{primary1Label}}</button>
	        <button class="primary">Primary2</button>
	    </button-bar>

	</div>
	<script>
		var app = angular.module("myApp",[]);
		app.controller('myCtrl',function($scope,$http){
			$scope.test = $scope.username;
			$scope.href = "www.baidu.com"
			console.log($http);
		}).directive('uiView',function(){
			return {
				restrict:'EA',
				replace:true,
				transclude:true,
				template:'<div>11111<div ng-transclude>ui-view</div></div>'
			}
		}).directive('buttonBar', [function () {
			return {
				restrict: 'EA',
				template: '<div class="span4 well clearfix"><div class="pull-right" ng-transclude></div></div>',
		        replace: true,
		        transclude: true,
				link: function (scope, iElement, iAttrs) {

				}
			};
		}])
	</script>
</body>
</html>